version: '3'
services:
  jira:
    image: cptactionhank/atlassian-jira:8.0.0
    networks:
      - dmz
    environment:
      - X_PROXY_SCHEME=https
      - X_PROXY_NAME=jira.ericksonmarine.net
      - X_PROXY_PORT=443
    volumes:
      - home:/var/atlassian/jira
    user: root
    #ports:
    #  - 8080:8080
    restart: always

volumes:
  home:

networks:
  dmz:
    external:
      name: dmz
